body {
  background-image: url("796849.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5); 
}

body {
  opacity: 0.5;
}

img[src="logo.png"][alt="logo"] {
  width: 120px;
  height: auto;
}

img[src="../../logo.png"][alt="logo"] {
  width: 120px;
  height: auto;
}

body {
  color: #ffffff;
}

.md-typeset__table table {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

code.language-python {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

h1#tutorial-python {
  color: white;
}
.md-typeset__table table tbody {
  background-color: rgba(1, 1, 1, 0.9);
  color: white;
}

.md-typeset__table table thead {
  background-color: rgba(1, 1, 1, 0.9);
  color: white;
}

code.language-bash {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
